body{
    background-image: url(https://media.discordapp.net/attachments/1033913494417981552/1101018413775732846/C4592BF2-2553-4D20-91F9-C9E6E4AED555.jpg?width=320&height=427);
    background-size:auto;
}
h1{
    color:black;
    size: 100px;
}